 /* container */
 .info-container {
    margin-left: 300px;
    margin-right: 30px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    justify-content: left;
    border-radius: 10px;
    height: 600px;
    display: grid;

  }

  .info-container-right {
    margin-left: 300px;
    margin-right: 30px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    justify-content: left;
    border-radius: 10px;
    height: 600px;
    display: grid;

  }

  .header1 {
    font-size: 45px;
    text-align: left;
    padding-left: 300px;
    padding-bottom: 1.5rem;
  }

  .header2 {
    text-align: left;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
  }

  .close-btn {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 1.5rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
  }
  
  .info-content-left {

    position: relative;
    justify-content: right;
  }
  
  .info-success {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
  }
  
  .info-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
  }
  
  .info {
    position: absolute;
    width: 90%;
    height: 100%;
    display: grid;
    justify-content: left;
    align-items: left;
  }
  
  .info h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .info-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
  }
  
  .info-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  
  .info-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .info-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
  }
  
  .info-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .info-input-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .info-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  .info-input-login {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
  }
  
  .info-input-login a {
    text-decoration: none;
    color: #27cdff;
    font-weight: 600;
  }